.slider {
  width: 100%;
  background-size: cover; 
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  margin-bottom: 10px;
}

.slides {
	background-size: cover; 
    width:auto;
	display: inline-block;
	background-color: #fff;
	margin-right: 150px;
	margin-bottom: 100px;
}

.intro-image {
	height: auto;
	width: auto;
	float: left;
	margin-left: 100px;
	margin-top: 15%;
}

.article-image {
	height: 400px;
	width: 400px;
	margin-left: 11px;
	float: left;
}

.article-video {
	height: 440px;
	width: 440px;
	margin-left: 11px;
	float: left;
}

.intro-text {
	height: 100%;
	width: 300px;
	float: left;
	white-space: normal;
	margin-left: 100px;
	font-size: 15px;
	line-height: 1.5;
	font-family: 'Droid Serif', serif;
}


.columns {
	height: auto;
	width: 350px;
	float: left;
	white-space: normal;
	margin-left: 44px;
	font-size: 15px;
	line-height: 1.5;
	text-align: justify;
	font-family: 'Droid Serif', serif;
}

.columns-scroll {
	height: 500px;
	width: 350px;
	float: left;
	white-space: normal;
	margin-left: 44px;
	font-size: 15px;
	line-height: 1.5;
	text-align: justify;
	font-family: 'Droid Serif', serif;
	overflow: scroll;
}

article {
  -webkit-columns: 2 200px;
     -moz-columns: 2 200px;
          columns: 2 200px;
-moz-column-fill: auto;
   	 column-fill: auto;
          height: 500px;
          font-size: 16px;
       }