.slider {
  width: 100%;
  height: auto;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  margin-bottom: 10px;
}

.slides {
	height:500px;
    width:1225px;
	display: inline-block;
	background-color: #fff;
}

.intro-image {
	height: auto;
	width: auto;
	display: inline-block;
	margin-left: 100px;
}

.intro-text {
	height: auto;
	width: 300px;
	display: inline-block;
	white-space: normal;
	margin-left: 150px;
	font-size: 15px;
	line-height: 1.5;
	font-family: 'Droid Serif', serif;
}


.columns {
	height: auto;
	width: 350px;
	display: inline-block;
	white-space: normal;
	margin-left: 44px;
	font-size: 15px;
	line-height: 1.5;
	text-align: justify;
	font-family: 'Droid Serif', serif;
}

article {
  -webkit-columns: 2 200px;
     -moz-columns: 2 200px;
          columns: 2 200px;
-moz-column-fill: auto;
   	 column-fill: auto;
          height: 500px;
          font-size: 16px;
       }